.center-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10vh; /* adjust this value to control vertical position */
}

.add-group-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
}

.add-group-form label {
    font-weight: bold;
}

.add-group-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.add-group-form button {
    background-color: #0ac3b9;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}
